<br>
<footer class="footer">
	<div class="container">
		<div class="footer__inner">
			<div class="footer__item d-lg-flex justify-content-lg-between align-items-lg-center">
				                   
				<p class="hidden-sm-down d-none d-lg-block">copyright 2019</p>
			</div>
		</div>
	</div>
</footer>
</body>
</html>