<html lang="en">
<head>
	<meta charset="utf-8">
	<title>CRUD Node.js and Mysql</title>
  <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/assets/css/_custom.css" >

    <!-- fontawosome -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <nav class="navbar navbar-light bg-light">
  	<a class="navbar-brand" href="#">
  		<img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
  		App Penjualan
  	</a>
  </nav>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/"><i class="fa fa-home" aria-hidden="true"></i> Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/customer"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Customer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/kategori"><i class="fa fa-th-large" aria-hidden="true"></i> Kategori</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/penjualan"><i class="fa fa-inbox" aria-hidden="true"></i> Penjualan</a>
      </li>
    </ul>

    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
     <ul class="nav justify-content-end">
     	<li class="nav-item">
     		<a class="nav-link" href="/profil"><i class="fa fa-user" aria-hidden="true"></i> Profil</a>
     	</li>  
     	<li class="nav-item">
     		<a class="nav-link" href=""><i class="fa fa-power-off fa-2x" aria-hidden="true"></i></a>
     	</li> 
    </ul>

  </div>
</nav>