{{> head}}
<div class="jumbotron">
	<div class="container">
		<h1>Halaman Profil</h1>
		<p>Contents ...</p>
		<p>
			<a href="/" class="btn btn-primary btn-lg">Kembali</a>
			<a href="/gallery" class="btn btn-info btn-lg">Gallery</a>
		</p>
	</div>
</div>
{{> footer}}